<!DOCTYPE html>
<html>
    <head>
        <title>Quacker Feed</title>
    </head>
    <body>
        <header>
            <h1>Quacker Feed</h1>
        </header>
        <main>
            <p>Here are the latest quacks from the people you follow</p>
            <!-- link back home -->
            <a href="{% url 'home' %}">Home</a>
            <!-- <ul>
                {% for post in posts %}
                    <li>{{ post.content }}</li>
                {% endfor %}
            </ul> -->
        </main>
    </body>
</html>
