<!DOCTYPE html>
<html>
    <head>
        <title>Quacker Login</title>
    </head>
    <body>
        <header>
            <h1>Login</h1>
        </header>
        <main>
            <p>Login Here</p>
            <!-- messages for loop -->
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}

            <!-- login form -->
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Login">
                
            <!-- link back home -->
            <a href="{% url 'home' %}">Home</a>
        </main>
    </body>
</html>
